@{
    ViewData["Title"] = "Título do Site";
}

<div>
    <h1 class="display-4">Bem vindo ao site da Veterinária</h1>
    <p>
        <img style="width: 100%;" src="/img/vet.jpg" />
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit semper mauris, vitae egestas metus. Integer placerat a tellus convallis scelerisque. Nullam feugiat imperdiet mi, nec egestas dolor volutpat aliquam. Nam vitae erat semper, gravida urna in, lobortis arcu. Donec suscipit tortor vel arcu faucibus, non scelerisque dolor pretium. Sed faucibus est vehicula ultricies tincidunt. Mauris pretium convallis ipsum, vitae porttitor libero imperdiet ac.</p>
    <p>Vestibulum convallis tincidunt sodales. Aenean consectetur volutpat nunc, eget pulvinar nisi ornare vitae. Ut eget tellus pharetra, sodales eros sit amet, condimentum mauris. Quisque sed leo a mi molestie dapibus ut in diam. Nunc a blandit ante. Praesent at tellus sem. Morbi lectus felis, consequat non pharetra quis, posuere quis nisl. Donec facilisis odio ut lectus volutpat placerat. In turpis purus, euismod ac efficitur ut, gravida id ipsum. Ut malesuada tempus urna, eu varius sem cursus sit amet. Sed erat est, consectetur eget cursus non, rutrum a leo. Vestibulum nec accumsan leo. Aliquam cursus consectetur dolor in scelerisque. Proin ac pellentesque augue, imperdiet pellentesque lacus. Aenean fermentum velit et turpis varius suscipit.</p>
</div>
